
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .course-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .course-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .course-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .search-input{
  font-size: 14px;
  padding-left: 10px;
  border-radius: 20px;
  width: 35%;
}

.search-div{
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

ul{
  list-style: none;
  padding: 0;
}

.view-btn-div button{
  width: 100%;
}

h3{
  font-weight: bold;
  font-size: 20px;
}

h1{
  font-weight: bold;
}

/* CourseList.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.course-list {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.search-div {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.course-item {
  list-style: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.course-item h3 {
  font-size: 20px;
  margin: 0;
}

.view-btn-div {
  text-align: right;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

